<div class="whole-header">
  <header>
    <div class="logo">
      <img src="./assets/Logo.svg" alt="Logo">
    </div>
    <div class="lawliet">Lawliet</div>
    <nav>
      <div class="contact"><a href="#">CONTACT</a></div>
      <div class="testimonials"><a href="#">TESTIMONIALS</a></div>
      <div class="about"><a href="#">ABOUT</a></div>
      <div class="terms"><a href="#">TERMS</a></div>
    </nav>
    <div class="vector">
      <img src="./assets/Vector.jpg" alt="Vector">
    </div>
  </header>
</div>
