<div class="whole-footer">
  <div class="footer">
    <div class="sagat">
      <img src="./assets/Ovalsagat.png">
    </div>
    <div class="sagat-arip">
      <img src="./assets/C.png">
    </div>
    <div class="lawliet"><p>Lawliet</p></div>
    <div class="product"><p>Product</p></div>
    <div class="overview"><p>Overview</p></div>
    <div class="features"><p>Features</p></div>
    <div class="tutorials"><p>Tutorials</p></div>
    <div class="pricing"><p>Pricing</p></div>
    <div class="releases"><p>Releases</p></div>

    <div class="company"><p>Company</p></div>
    <div class="about"><p>About</p></div>
    <div class="press"><p>Press</p></div>
    <div class="careers"><p>Careers</p></div>
    <div class="contact"><p>Contact</p></div>
    <div class="partners"><p>Partners</p></div>

    <div class="support"><p>Support</p></div>
    <div class="help-center"><p>Help Center</p></div>
    <div class="terms-of-service"><p>Terms of service</p></div>
    <div class="legal"><p>Legal</p></div>
    <div class="privacy-policy"><p>Privacy Policy</p></div>
    <div class="status"><p>Status</p></div>
    <app-sub-footer></app-sub-footer>
  </div>

</div>
