.whole-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second {
  position: relative;
  width: 1440px;
  height: 924px;
  margin-top: 0;
  background: linear-gradient(330.22deg, rgba(221, 231, 247, 0) 25.58%, #DCE7F7 53.4%, #E8EEF6 78.25%);
}

.main-text {
  position: absolute;
  margin: 80px 388px 558px 161px;
}
.main-text p {
  position: absolute;
  width: 800px;
  height: 216px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #094B72;
}
.secondary-text {
  position: absolute;
  margin: 390px 682px 436px 168px;
}

.secondary-text p {
  width: 590px;
  height: 76px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  color: #4F4F4F;
}

.image {
  position: absolute;
  width: 549px;
  height: 973.94px;
  margin: -50px 117px 0 800px;
}
.get-started {
  position: absolute;
  width: 190px;
  height: 80px;
  margin: 530px 1085px 314px 165px;
  background: #094B72;
  border-radius: 8px;
}
.get-started p {
  position: absolute;
  width: 130px;
  height: 22px;
  margin: 29px 36px 29px 36px;
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;
  color: #F9F8F9;
}
