<div class="whole-achievements">
  <div class="achievments">
    <div class="heading"><p>Some count that matters</p></div>
    <div class="description"><p>Our achievement in the journey depicted in numbers</p></div>
    <div class="soz-1"><p>30</p></div>
    <div class="soz-2"><p>Clients</p></div>
    <div class="soz-3"><p>300+</p></div>
    <div class="soz-4"><p>Taken business legalities</p></div>
    <div class="soz-5"><p>8</p></div>
    <div class="soz-6"><p>Years of Journey</p></div>
    <div class="syzyq-1">
      <img src="./assets/Divider.png">
    </div>
    <div class="syzyq-2">
      <img src="./assets/Divider1.png">
    </div>
  </div>

</div>
