<div class="whole-why">
  <div class="why">
    <div class="whyblabla">
      <p>Why do we help with legalization?</p>
      <div class="why-bala">
        <p>We are here for UMKM in Indonesia to carry out the legalization process, which is sometimes complicated.</p>
      </div>
    </div>
    <div class="environmental">
      <div class="environmental-image">
        <img src="./assets/Circle%20Layer.png">
      </div>
      <p>Environmental law</p>
      <div class="environmental-bala">
        <p>Environmental legal issues might occur since the planned business activities are designed</p>
      </div>
    </div>
    <div class="corporate">
      <div class="corporate-image">
        <img src="./assets/Bag.png">
      </div>
      <p>Corporate and Commercial</p>
      <div class="corporate-bala">
        <p>We provide a complete range of services for the continuity of your business activities.</p>
      </div>
    </div>
    <div class="information">
      <div class="information-image">
        <img src="./assets/Rocket.png">
      </div>
      <p>Information and Technology</p>
      <div class="information-bala">
        <p>IT not followed by the existing regulation which might cause legal uncertainty and business uncertainty.</p>
      </div>
    </div>
    <div class="others">
      <div class="others-image">
        <img src="./assets/User%20Arrows.png">
      </div>
      <p>Other Services</p>
      <div class="others-bala">
        <p>In dealing with disruptive economic and legal challenge, our firm also provide various legal services.</p>
      </div>
    </div>
  </div>
</div>
